body{
	margin: 10px 205px!important;
	color: #66B2B2!important
}

.tab{
	text-indent:40px!important
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-1 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  padding: 5px 10px;
}

.item1{
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-2 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  padding: 5px 10px;
}

.item3 {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}

.item4 {
	grid-column: 2 / 4;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-3 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  padding: 5px 10px;
}

.item5 {
	text-align: center;
}

.item6 {
	text-align: center;
}

.item7 {
	grid-column: 1 / 3;
	text-align: right;
	font-weight: bold;
}

.item8 {
	text-align: center;
	font-weight: bold;
	text-decoration: underline; 
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-4 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  text-align: center;
  padding: 5px 10px;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-5 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  text-align: center;
  padding: 5px 10px;
}

.aligncenter {
	text-align:center;
}

.grid-container-6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-6 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  text-align: center;
  padding: 5px 10px;
}

.grid6-1 {
	grid-column: 1 / 7;
	font-weight: bold;
	font-size: 18px;
}

.grid6-b {
	font-weight: bold;
}

.grid-container-7 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-7 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  padding: 5px 10px;
}

.grid7-1 {
	text-align: center;
	font-weight: bold;
}

.grid-container-8 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container-8 > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  padding: 5px 10px;
}

.grid8-1 {

}

