h1 {
  color: #66FCF1!important;
}

body {
	 margin: 10px 205px;
}
.grid-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr!important;
  grid-gap: 5px !important;
  background-color: #1A2227 !important;
  padding: 5px !important;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8) !important;
  background-color: #66B2B2 !important;
  color: #1A2227 !important;
  padding: 5px 15px 5px 15px;
}

.center {
	text-align: center!important;
}

.long {
  grid-column: 1 / 4!important;
  text-align: center!important;
}

.item24 {
	text-align: center!important;
}

.item25 {
	grid-column: 1 / 4!important;
}

