body {
	margin: 10px 205px;
}

.center {
	text-align: center;
}

.imgs {
	text-align: center;
	padding-top: 15px;
}

.column {
  float: left;
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  Background-color: #1A2227;
  color: #66B2B2
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1F2833;
  color: #66B2B2;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
