	body{
	margin: 10px 205px!important;
	color: #66B2B2!important
}

.tab{
	text-indent:40px!important
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  background-color: #66B2B2;
  color: #1A2227;
  padding: 5px 10px;
}
.item1 {
	grid-column: 1 / 5;
    text-align: center;
}

.week {
	text-align: center;
}

.subheader {
	text-align: center;
}

.milestone {
	grid-column: 2 / 5;
}