body{
	margin: 10px 205px!important;
	color: #66B2B2!important
}

.tab{
	text-indent:40px!important
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  background-color: #1A2227;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  background-color: #66B2B2;
  color: #1A2227;
  text-align: center;
  padding: 5px 0;
}
.item1 {
  grid-column: 1 / 5;
    text-align: center;
}
.item11 {
  grid-column: 3 / 5;
}
.item17 {
  grid-column: 3 / 5;
}
.item23 {
  grid-column: 3 / 5;
}
.item29 {
  grid-column: 3 / 5;
}
.item35 {
  grid-column: 1 / 5;
    text-align: center;
}
.item41 {
  grid-column: 3 / 5;
}
.item47 {
  grid-column: 3 / 5;
}
.item53 {
  grid-column: 3 / 5;
}
.item59 {
  grid-column: 3 / 5;
}
.item65 {
  grid-column: 3 / 5;
}
.item71 {
  grid-column: 3 / 5;
}
.item77 {
  grid-column: 1 / 5;
    text-align: center;
}
.item83 {
  grid-column: 3 / 5;
}
.item89 {
  grid-column: 3 / 5;
}
.item95 {
  grid-column: 3 / 5;
}
