body{
	margin: 10px 205px!important;
	color: #66B2B2!important
}

.tab{
	text-indent:40px!important
}
.item1 {
  grid-column: 1 / 3;
  text-align: center;
}
.software {
  text-align: center;
}
.hardware {
  text-align: center;
}
h2{
	font-size: 20px;
	text-align: center;
}
